## Pandas Tutorial: Lesson One

### 1.1 Create Data

In [3]:
import pandas as pd
import matplotlib
%matplotlib inline

In [32]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
# merge two list
babyDataSet = zip(names,births)

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [33]:
df = pd.DataFrame(data =babyDataSet, columns=['Names','Births'])

In [34]:
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

#### 1.1.1 Export data to csv

In [25]:
df.to_csv('births1889.csv', index=False , header=False)

In [29]:
df1=pd.read_csv('births1889.csv', names=['Names','Births'])

In [30]:
df1

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

### delete csv file

In [35]:
import os
os.remove('births1889.csv')

## Prepare Data

In [38]:
df.dtypes

Names     object
Births     int64
dtype: object

In [39]:
df.Births.dtype

dtype('int64')

## Analyze Data

- sort the dataframe
- find maximum value

In [42]:
df.Births.max()

973