## Panda load data

1. multidimensional arrays
2. Tabular data
3. Multiple tables of data interrelated by key columns
4. Evenly and spaced time series

### Tutorial on using Pandas in QSTK

In [4]:
import pandas as pd
import datetime as dt
import numpy as np

In [6]:
# create a list of datetime
list_timestamps = []
for i in range(1, 6):
    list_timestamps.append(dt.datetime(2011, 1, i, 16))

In [7]:
list_timestamps

[datetime.datetime(2011, 1, 1, 16, 0),
 datetime.datetime(2011, 1, 2, 16, 0),
 datetime.datetime(2011, 1, 3, 16, 0),
 datetime.datetime(2011, 1, 4, 16, 0),
 datetime.datetime(2011, 1, 5, 16, 0)]

In [9]:
# List comprehension
list_timestamps1 = [dt.datetime(2011, 1, i, 16) for i in range(1,6)]

In [10]:
list_timestamps1

[datetime.datetime(2011, 1, 1, 16, 0),
 datetime.datetime(2011, 1, 2, 16, 0),
 datetime.datetime(2011, 1, 3, 16, 0),
 datetime.datetime(2011, 1, 4, 16, 0),
 datetime.datetime(2011, 1, 5, 16, 0)]

### TimeSeries

In [12]:
### Create a time series with single value
ts_single_value = pd.Series(0.0, index= list_timestamps)

In [13]:
ts_single_value

2011-01-01 16:00:00    0.0
2011-01-02 16:00:00    0.0
2011-01-03 16:00:00    0.0
2011-01-04 16:00:00    0.0
2011-01-05 16:00:00    0.0
dtype: float64

In [16]:
### create a time series with a array
ts_array = pd.Series(np.arange(len(list_timestamps)), index = list_timestamps)

In [17]:
ts_array

2011-01-01 16:00:00    0
2011-01-02 16:00:00    1
2011-01-03 16:00:00    2
2011-01-04 16:00:00    3
2011-01-05 16:00:00    4
dtype: int32

In [29]:
### create a time series with a matrix using DataFrame
s = len(list_timestamps)
titles =['A','B','C','D','F']
ts_matrix = pd.DataFrame(np.arange(s*s).reshape(s,s), index = list_timestamps)
## Add titles
ts_matrix.columns = titles
ts_matrix

                      A   B   C   D   F
2011-01-01 16:00:00   0   1   2   3   4
2011-01-02 16:00:00   5   6   7   8   9
2011-01-03 16:00:00  10  11  12  13  14
2011-01-04 16:00:00  15  16  17  18  19
2011-01-05 16:00:00  20  21  22  23  24

In [30]:
a =ts_matrix['A'][0:2]
type(a)

pandas.core.series.Series

In [31]:
a.name

'A'

In [32]:
a.size

2

In [33]:
a

2011-01-01 16:00:00    0
2011-01-02 16:00:00    5
Name: A, dtype: int32

In [34]:
a[0]

0

In [35]:
a[0].index

AttributeError: 'numpy.int32' object has no attribute 'index'

In [37]:
a.ix[0]

0