### sqlite (Part I)

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from IPython.display import display
import plotly.plotly as py
from plotly.graph_objs import *

In [3]:
disk_engine = create_engine('sqlite:///data/turbine.db')

In [4]:
df = pd.read_sql_query('Select lat_DD, long_DD, count(*) from data group by lat_DD, long_DD ', disk_engine)

In [5]:
df['lat_DD'].values

array([u'18.964696', u'18.965596', u'18.966796', ..., u'66.839901',
       u'66.839901', u'66.839901'], dtype=object)

In [20]:
mapbox_access_token = 'pk.eyJ1IjoiY2hlbHNlYXBsb3RseSIsImEiOiJjaXFqeXVzdDkwMHFrZnRtOGtlMGtwcGs4In0.SLidkdBMEap9POJGIe1eGw'

data = Data([
    Scattermapbox(
        lat=df['lat_DD'].values,
        lon=df['long_DD'].values,
        mode='markers',
        marker=Marker(
            size=4
        ),
        text=['Montreal'],
    )
])
layout = Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=45,
            lon=-73
        ),
        pitch=0,
        zoom=5
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Montreal Mapbox', validate=False)

### Statistic blade length

In [7]:
blades = pd.read_sql_query('Select lat_DD, long_DD, blade_l,  count(*) as c from data group by lat_DD, long_DD order by blade_l desc', disk_engine)

In [9]:
g = blades.groupby('blade_l')

In [33]:
blades = pd.read_sql_query('Select lat_DD, long_DD, cast(blade_l as numeric(19,4)) as blade,  count(*) as c from data group by lat_DD, long_DD order by blade', disk_engine)
g = blades.groupby('blade')

In [34]:
import math
plot_datas =[]
for data in g:
        if data[0]=='-99999':
            s=4
        else:
            #s = int(math.sqrt(float(data[0])))
            s = int(float(data[0])/4)
            if s<4:
                s =4
        o = Scattermapbox(
        lat=data[1].lat_DD.values,
        lon=data[1].long_DD.values,
        mode='markers',
        marker=Marker(size=s),
        text=[data[0]],
        name =data[0])
        
        plot_datas.append(o)

data = Data(plot_datas)      
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Montreal Mapbox', validate=False)