### Simple Example with Pandas

In [11]:
import plotly.plotly as py
from plotly.tools import FigureFactory as FF
from datetime import datetime

import pandas.io.data as web

df = web.DataReader('aapl', 'yahoo', datetime(2016, 05, 1), datetime(2016, 06, 1))
fig = FF.create_candlestick(df.Open, df.High, df.Low, df.Close, dates=df.index)
py.iplot(fig, validate=False)

In [9]:
import plotly.plotly as py
from plotly.tools import FigureFactory as FF
from datetime import datetime

import pandas.io.data as web

fig = FF.create_candlestick(df.Open, df.High, df.Low, df.Close, dates=df.index)
# Update the fig - all options here: https://plot.ly/python/reference/#Layout
fig['layout'].update({
    'title': 'The Great Recession',
    'yaxis': {'title': 'AAPL Stock'},
    'shapes': [{
        'x0': '2007-12-01', 'x1': '2007-12-01',
        'y0': 0, 'y1': 1, 'xref': 'x', 'yref': 'paper',
        'line': {'color': 'rgb(30,30,30)', 'width': 1}
    }],
    'annotations': [{
        'x': '2007-12-01', 'y': 0.05, 'xref': 'x', 'yref': 'paper',
        'showarrow': False, 'xanchor': 'left',
        'text': 'Official start of the recession'
    }]
})
py.iplot(fig, validate=False)

In [10]:
fig

{'data': [{'boxpoints': False,
   'fillcolor': '#3D9970',
   'line': {'color': '#3D9970'},
   'name': 'Increasing',
   'showlegend': False,
   'type': 'box',
   'whiskerwidth': 0,
   'x': [Timestamp('2016-05-03 00:00:00'),
    Timestamp('2016-05-03 00:00:00'),
    Timestamp('2016-05-03 00:00:00'),
    Timestamp('2016-05-03 00:00:00'),
    Timestamp('2016-05-03 00:00:00'),
    Timestamp('2016-05-03 00:00:00'),
    Timestamp('2016-05-10 00:00:00'),
    Timestamp('2016-05-10 00:00:00'),
    Timestamp('2016-05-10 00:00:00'),
    Timestamp('2016-05-10 00:00:00'),
    Timestamp('2016-05-10 00:00:00'),
    Timestamp('2016-05-10 00:00:00'),
    Timestamp('2016-05-13 00:00:00'),
    Timestamp('2016-05-13 00:00:00'),
    Timestamp('2016-05-13 00:00:00'),
    Timestamp('2016-05-13 00:00:00'),
    Timestamp('2016-05-13 00:00:00'),
    Timestamp('2016-05-13 00:00:00'),
    Timestamp('2016-05-16 00:00:00'),
    Timestamp('2016-05-16 00:00:00'),
    Timestamp('2016-05-16 00:00:00'),
    Timestamp('2016-05-16 00:00:00'),
    Timestamp('2016-05-16 00:00:00'),
    Timestamp('2016-05-16 00:00:00'),
    Timestamp('2016-05-18 00:00:00'),
    Timestamp('2016-05-18 00:00:00'),
    Timestamp('2016-05-18 00:00:00'),
    Timestamp('2016-05-18 00:00:00'),
    Timestamp('2016-05-18 00:00:00'),
    Timestamp('2016-05-18 00:00:00'),
    Timestamp('2016-05-20 00:00:00'),
    Timestamp('2016-05-20 00:00:00'),
    Timestamp('2016-05-20 00:00:00'),
    Timestamp('2016-05-20 00:00:00'),
    Timestamp('2016-05-20 00:00:00'),
    Timestamp('2016-05-20 00:00:00'),
    Timestamp('2016-05-23 00:00:00'),
    Timestamp('2016-05-23 00:00:00'),
    Timestamp('2016-05-23 00:00:00'),
    Timestamp('2016-05-23 00:00:00'),
    Timestamp('2016-05-23 00:00:00'),
    Timestamp('2016-05-23 00:00:00'),
    Timestamp('2016-05-24 00:00:00'),
    Timestamp('2016-05-24 00:00:00'),
    Timestamp('2016-05-24 00:00:00'),
    Timestamp('2016-05-24 00:00:00'),
    Timestamp('2016-05-24 00:00:00'),
    Timestamp('2016-05-24 00:00:00'),
    Timestamp('2016-05-25 00:00:00'),
    Timestamp('2016-05-25 00:00:00'),
    Timestamp('2016-05-25 00:00:00'),
    Timestamp('2016-05-25 00:00:00'),
    Timestamp('2016-05-25 00:00:00'),
    Timestamp('2016-05-25 00:00:00'),
    Timestamp('2016-05-26 00:00:00'),
    Timestamp('2016-05-26 00:00:00'),
    Timestamp('2016-05-26 00:00:00'),
    Timestamp('2016-05-26 00:00:00'),
    Timestamp('2016-05-26 00:00:00'),
    Timestamp('2016-05-26 00:00:00'),
    Timestamp('2016-05-27 00:00:00'),
    Timestamp('2016-05-27 00:00:00'),
    Timestamp('2016-05-27 00:00:00'),
    Timestamp('2016-05-27 00:00:00'),
    Timestamp('2016-05-27 00:00:00'),
    Timestamp('2016-05-27 00:00:00'),
    Timestamp('2016-05-31 00:00:00'),
    Timestamp('2016-05-31 00:00:00'),
    Timestamp('2016-05-31 00:00:00'),
    Timestamp('2016-05-31 00:00:00'),
    Timestamp('2016-05-31 00:00:00'),
    Timestamp('2016-05-31 00:00:00')],
   'y': [93.680000000000007,
    94.199996999999996,
    95.180000000000007,
    95.180000000000007,
    95.180000000000007,
    95.739998,
    92.110000999999997,
    93.330002000000007,
    93.419997999999993,
    93.419997999999993,
    93.419997999999993,
    93.569999999999993,
    90.0,
    90.0,
    90.519997000000004,
    90.519997000000004,
    90.519997000000004,
    91.669997999999993,
    91.650002000000001,
    92.389999000000003,
    93.879997000000003,
    93.879997000000003,
    93.879997000000003,
    94.389999000000003,
    93.889999000000003,
    94.160004000000001,
    94.559997999999993,
    94.559997999999993,
    94.559997999999993,
    95.209998999999996,
    94.519997000000004,
    94.639999000000003,
    95.220000999999996,
    95.220000999999996,
    95.220000999999996,
    95.430000000000007,
    95.669997999999993,
    95.870002999999997,
    96.430000000000007,
    96.430000000000007,
    96.430000000000007,
    97.190002000000007,
    96.839995999999999,
    97.220000999999996,
    97.900002000000001,
    97.900002000000001,
    97.900002000000001,
    98.089995999999999,
    98.110000999999997,
    98.669997999999993,
    99.620002999999997,
    99.620002999999997,
    99.620002999999997,
    99.739998,
    98.639999000000003,
    99.680000000000007,
    100.410004,
    100.410004,
    100.410004,
    100.730003,
    99.25,
    99.440002000000007,
    100.349998,
    100.349998,
    100.349998,
    100.470001,
    98.819999999999993,
    99.599997999999999,
    99.860000999999997,
    99.860000999999997,
    99.860000999999997,
    100.400002]},
  {'boxpoints': False,
   'fillcolor': '#FF4136',
   'line': {'color': '#FF4136'},
   'name': 'Decreasing',
   'showlegend': False,
   'type': 'box',
   'whiskerwidth': 0,
   'x': [Timestamp('2016-05-02 00:00:00'),
    Timestamp('2016-05-02 00:00:00'),
    Timestamp('2016-05-02 00:00:00'),
    Timestamp('2016-05-02 00:00:00'),
    Timestamp('2016-05-02 00:00:00'),
    Timestamp('2016-05-02 00:00:00'),
    Timestamp('2016-05-04 00:00:00'),
    Timestamp('2016-05-04 00:00:00'),
    Timestamp('2016-05-04 00:00:00'),
    Timestamp('2016-05-04 00:00:00'),
    Timestamp('2016-05-04 00:00:00'),
    Timestamp('2016-05-04 00:00:00'),
    Timestamp('2016-05-05 00:00:00'),
    Timestamp('2016-05-05 00:00:00'),
    Timestamp('2016-05-05 00:00:00'),
    Timestamp('2016-05-05 00:00:00'),
    Timestamp('2016-05-05 00:00:00'),
    Timestamp('2016-05-05 00:00:00'),
    Timestamp('2016-05-06 00:00:00'),
    Timestamp('2016-05-06 00:00:00'),
    Timestamp('2016-05-06 00:00:00'),
    Timestamp('2016-05-06 00:00:00'),
    Timestamp('2016-05-06 00:00:00'),
    Timestamp('2016-05-06 00:00:00'),
    Timestamp('2016-05-09 00:00:00'),
    Timestamp('2016-05-09 00:00:00'),
    Timestamp('2016-05-09 00:00:00'),
    Timestamp('2016-05-09 00:00:00'),
    Timestamp('2016-05-09 00:00:00'),
    Timestamp('2016-05-09 00:00:00'),
    Timestamp('2016-05-11 00:00:00'),
    Timestamp('2016-05-11 00:00:00'),
    Timestamp('2016-05-11 00:00:00'),
    Timestamp('2016-05-11 00:00:00'),
    Timestamp('2016-05-11 00:00:00'),
    Timestamp('2016-05-11 00:00:00'),
    Timestamp('2016-05-12 00:00:00'),
    Timestamp('2016-05-12 00:00:00'),
    Timestamp('2016-05-12 00:00:00'),
    Timestamp('2016-05-12 00:00:00'),
    Timestamp('2016-05-12 00:00:00'),
    Timestamp('2016-05-12 00:00:00'),
    Timestamp('2016-05-17 00:00:00'),
    Timestamp('2016-05-17 00:00:00'),
    Timestamp('2016-05-17 00:00:00'),
    Timestamp('2016-05-17 00:00:00'),
    Timestamp('2016-05-17 00:00:00'),
    Timestamp('2016-05-17 00:00:00'),
    Timestamp('2016-05-19 00:00:00'),
    Timestamp('2016-05-19 00:00:00'),
    Timestamp('2016-05-19 00:00:00'),
    Timestamp('2016-05-19 00:00:00'),
    Timestamp('2016-05-19 00:00:00'),
    Timestamp('2016-05-19 00:00:00'),
    Timestamp('2016-06-01 00:00:00'),
    Timestamp('2016-06-01 00:00:00'),
    Timestamp('2016-06-01 00:00:00'),
    Timestamp('2016-06-01 00:00:00'),
    Timestamp('2016-06-01 00:00:00'),
    Timestamp('2016-06-01 00:00:00')],
   'y': [92.400002000000001,
    93.970000999999996,
    93.639999000000003,
    93.639999000000003,
    93.639999000000003,
    94.080002000000007,
    93.819999999999993,
    95.199996999999996,
    94.190002000000007,
    94.190002000000007,
    94.190002000000007,
    95.900002000000001,
    92.680000000000007,
    94.0,
    93.239998,
    93.239998,
    93.239998,
    94.069999999999993,
    91.849997999999999,
    93.370002999999997,
    92.720000999999996,
    92.720000999999996,
    92.720000999999996,
    93.449996999999996,
    92.589995999999999,
    93.0,
    92.790001000000004,
    92.790001000000004,
    92.790001000000004,
    93.769997000000004,
    92.459998999999996,
    93.480002999999996,
    92.510002,
    92.510002,
    92.510002,
    93.569999999999993,
    89.470000999999996,
    92.720000999999996,
    90.339995999999999,
    90.339995999999999,
    90.339995999999999,
    92.779999000000004,
    93.010002,
    94.550003000000004,
    93.489998,
    93.489998,
    93.489998,
    94.699996999999996,
    93.569999999999993,
    94.639999000000003,
    94.199996999999996,
    94.199996999999996,
    94.199996999999996,
    94.639999000000003,
    98.330002000000007,
    99.019997000000004,
    98.459998999999996,
    98.459998999999996,
    98.459998999999996,
    99.540001000000004]}],
 'layout': {'annotations': [{'showarrow': False,
    'text': 'Official start of the recession',
    'x': '2007-12-01',
    'xanchor': 'left',
    'xref': 'x',
    'y': 0.05,
    'yref': 'paper'}],
  'shapes': [{'line': {'color': 'rgb(30,30,30)', 'width': 1},
    'x0': '2007-12-01',
    'x1': '2007-12-01',
    'xref': 'x',
    'y0': 0,
    'y1': 1,
    'yref': 'paper'}],
  'title': 'The Great Recession',
  'yaxis': {'title': 'AAPL Stock'}}}