# Group By: split -apply-combine

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'A':['foo','bar','foo','bar','foo','bar','foo','foo'],
                'B':['one','one','two','three','two','two','one','three'],
                  'C':np.random.randn(8),
                   'D': np.random.randn(8)})

In [6]:
df

     A      B         C         D
0  foo    one -0.765119 -1.252421
1  bar    one -1.353711  0.555678
2  foo    two  2.665307  0.365526
3  bar  three -0.191976  0.161467
4  foo    two  0.110297 -0.404700
5  bar    two  0.196914  0.192675
6  foo    one  2.024158 -1.317320
7  foo  three  0.146521 -0.497358

In [7]:
grouped = df.groupby('A')

In [8]:
grouped

In [10]:
grouped.first()

       B         C         D
A
bar  one -1.353711  0.555678
foo  one -0.765119 -1.252421