In [8]:
### display 
import datetime
import pandas.io.data as web
import pandas as pd
import plotly.plotly as py
from plotly.graph_objs import *
from plotly.tools import FigureFactory as FF

# download stock data, s: stock ticker, d: days
def dl(s,d):
    end = datetime.date.today()
    days = datetime.timedelta(days=d)
    start = end - days
    df = web.DataReader(s, 'yahoo', start, end)
    return df

# 
def cs(df):
    fig = FF.create_candlestick(df.Open, df.High, df.Low, df.Close, dates=df.index)
    py.iplot(fig, validate=False)
    
    
    # given a strategy what buys the sharte at position index, what is the maximumn profit that can be achieved?
def calculateProfit (A, index):
    buying_price = A[index]
    max_profit = 0
    sell_at = index
    for i in range(index+1, len(A)):
        selling_price = A[i]
        profit = selling_price - buying_price
        if profit > max_profit:
            max_profit = profit
            sell_at = i
    return max_profit, sell_at

# check all possible buying times
def fmax_brute_force(A):
    max_profit = None
    buy = None
    sell = None
    l = 
    for index, item in enumerate(A):
        profit, sell_at = calculateProfit(A, index)
        if (max_profit is None) or (profit > max_profit):
            max_profit = profit
            buy = index
            sell = sell_at
    return max_profit, buy, sell

In [11]:
df.index

DatetimeIndex(['2016-06-30', '2016-07-01', '2016-07-05', '2016-07-06',
               '2016-07-07', '2016-07-08', '2016-07-11', '2016-07-12',
               '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-18',
               '2016-07-19', '2016-07-20', '2016-07-21', '2016-07-22',
               '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28',
               '2016-07-29', '2016-08-01', '2016-08-02', '2016-08-03',
               '2016-08-04', '2016-08-05', '2016-08-08', '2016-08-09',
               '2016-08-10', '2016-08-11', '2016-08-12', '2016-08-15',
               '2016-08-16', '2016-08-17', '2016-08-18', '2016-08-19',
               '2016-08-22', '2016-08-23', '2016-08-24', '2016-08-25',
               '2016-08-26', '2016-08-29', '2016-08-30', '2016-08-31',
               '2016-09-01', '2016-09-02', '2016-09-06', '2016-09-07',
               '2016-09-08', '2016-09-09', '2016-09-12', '2016-09-13',
               '2016-09-14', '2016-09-15', '2016-09-16', '2016-09-19',
               '2016-09-20', '2016-09-21', '2016-09-22', '2016-09-23',
               '2016-09-26', '2016-09-27', '2016-09-28', '2016-09-29',
               '2016-09-30', '2016-10-03', '2016-10-04', '2016-10-05',
               '2016-10-06', '2016-10-07'],
              dtype='datetime64[ns]', name=u'Date', freq=None)

In [10]:
df=dl('amd',100)  # download 100 days data 

# add 5, 10, 15 SMA
df['Sma5'] = df['Close'].rolling(5).mean() 
df['Sma10'] = df['Close'].rolling(10).mean()
df['Sma15'] = df['Close'].rolling(15).mean()

df

,Open,High,Low,Close,Volume,Adj Close,Sma5,Sma10,Sma15
Date,,,,,,,,,
2016-06-30,5.13,5.19,4.95,5.14,26124800,5.14,NaN,NaN,NaN
2016-07-01,5.09,5.14,5.00,5.07,18255900,5.07,NaN,NaN,NaN
2016-07-05,5.03,5.05,4.88,4.96,16332500,4.96,NaN,NaN,NaN
2016-07-06,4.91,5.11,4.90,5.04,19392900,5.04,NaN,NaN,NaN
2016-07-07,5.07,5.10,4.94,5.02,15813800,5.02,5.046,NaN,NaN
2016-07-08,4.84,5.15,4.82,5.10,28140700,5.10,5.038,NaN,NaN
2016-07-11,5.13,5.19,5.00,5.01,21027900,5.01,5.026,NaN,NaN
2016-07-12,5.01,5.17,5.01,5.14,20832500,5.14,5.062,NaN,NaN
2016-07-13,5.14,5.19,5.04,5.09,14032500,5.09,5.072,NaN,NaN
2016-07-14,5.15,5.24,5.06,5.17,20050100,5.17,5.102,5.074,NaN
2016-07-15,5.20,5.20,5.10,5.14,14219300,5.14,5.110,5.074,NaN
2016-07-18,5.19,5.57,5.13,5.51,38619400,5.51,5.210,5.118,NaN
2016-07-19,5.50,5.55,5.34,5.41,23439600,5.41,5.264,5.163,NaN
2016-07-20,5.48,5.50,5.40,5.41,20102400,5.41,5.328,5.200,NaN
2016-07-21,5.43,5.45,5.10,5.22,40242000,5.22,5.338,5.220,5.162000
2016-07-22,5.73,5.97,5.45,5.84,101838300,5.84,5.478,5.294,5.208667
2016-07-25,5.93,6.95,5.92,6.70,118328600,6.70,5.716,5.463,5.317333
2016-07-26,6.76,7.16,6.71,6.98,81230600,6.98,6.030,5.647,5.452000
2016-07-27,6.93,6.98,6.68,6.85,38567300,6.85,6.318,5.823,5.572667
2016-07-28,6.79,6.98,6.74,6.82,27515600,6.82,6.638,5.988,5.692667
2016-07-29,6.88,6.96,6.75,6.86,22580500,6.86,6.842,6.160,5.810000
2016-08-01,6.89,6.92,6.57,6.64,26729000,6.64,6.830,6.273,5.918667
2016-08-02,6.56,6.60,6.15,6.26,40816400,6.26,6.686,6.358,5.993333
2016-08-03,6.18,6.45,6.15,6.30,23807800,6.30,6.576,6.447,6.074000
2016-08-04,6.39,6.61,6.37,6.47,22411000,6.47,6.506,6.572,6.160667
2016-08-05,6.56,6.76,6.47,6.61,20164000,6.61,6.456,6.649,6.258667
2016-08-08,6.70,6.85,6.65,6.68,21462200,6.68,6.464,6.647,6.336667
2016-08-09,6.75,6.78,6.54,6.60,16746500,6.60,6.532,6.609,6.416000
2016-08-10,6.35,6.58,6.25,6.49,29035700,6.49,6.570,6.573,6.488000
2016-08-11,6.50,6.59,6.46,6.58,13099000,6.58,6.592,6.549,6.578667
...,...,...,...,...,...,...,...,...,...
2016-08-26,7.49,7.80,7.46,7.67,31321700,7.67,7.564,7.289,7.064667
2016-08-29,7.72,7.79,7.57,7.59,16891800,7.59,7.566,7.353,7.125333
2016-08-30,7.61,7.64,7.41,7.49,16022500,7.49,7.530,7.424,7.184667
2016-08-31,7.52,7.52,7.28,7.40,18279500,7.40,7.524,7.496,7.245333
2016-09-01,7.18,7.44,7.09,7.35,22266700,7.35,7.500,7.527,7.296667
2016-09-02,7.49,7.64,7.38,7.51,18530400,7.51,7.468,7.516,7.348667
2016-09-06,7.56,7.60,7.25,7.34,24048700,7.34,7.418,7.492,7.374667
2016-09-07,7.05,7.07,6.78,6.84,57641800,6.84,7.288,7.409,7.378667
2016-09-08,6.64,6.65,6.15,6.23,90693700,6.23,7.054,7.289,7.348667
2016-09-09,6.23,6.24,5.85,5.90,170652000,5.90,6.764,7.132,7.272667
2016-09-12,5.83,6.07,5.77,5.94,77876200,5.94,6.450,6.959,7.160667
2016-09-13,5.92,5.95,5.66,5.74,50713200,5.74,6.130,6.774,7.038000
2016-09-14,5.75,6.08,5.75,6.04,64251100,6.04,5.970,6.629,6.929333
2016-09-15,6.09,6.20,5.95,6.02,52669500,6.02,5.928,6.491,6.835333
2016-09-16,6.22,6.22,5.97,6.05,47741500,6.05,5.958,6.361,6.740667
2016-09-19,6.12,6.28,6.08,6.16,37812400,6.16,6.002,6.226,6.640000
2016-09-20,6.23,6.28,6.12,6.17,28975500,6.17,6.088,6.109,6.545333
2016-09-21,6.20,6.32,6.14,6.29,33400800,6.29,6.138,6.054,6.465333
2016-09-22,6.35,6.44,6.33,6.37,35766100,6.37,6.208,6.068,6.396667
2016-09-23,6.31,6.65,6.31,6.55,60975800,6.55,6.308,6.133,6.343333
2016-09-26,6.54,6.54,6.31,6.32,29830500,6.32,6.340,6.171,6.264000
2016-09-27,6.45,6.58,6.29,6.54,30000900,6.54,6.414,6.251,6.210667
2016-09-28,6.57,6.65,6.48,6.59,27849200,6.59,6.474,6.306,6.194000
2016-09-29,6.57,6.73,6.54,6.67,30605500,6.67,6.534,6.371,6.223333
2016-09-30,6.70,7.04,6.70,6.91,47305300,6.91,6.606,6.457,6.290667
2016-10-03,6.95,7.15,6.87,6.95,30400200,6.95,6.732,6.536,6.358000
2016-10-04,7.00,7.09,6.89,6.97,25739400,6.97,6.818,6.616,6.440000
2016-10-05,6.97,7.01,6.70,6.78,30731100,6.78,6.856,6.665,6.489333
2016-10-06,6.72,6.98,6.63,6.96,27037700,6.96,6.914,6.724,6.552000
2016-10-07,6.92,6.96,6.62,6.75,33041600,6.75,6.882,6.744,6.598667

TypeError: 'numpy.float64' object is not iterable

In [1]:

fig = FF.create_candlestick(df.Open, df.High, df.Low, df.Close, dates=df.index)
fig
fig['layout'].update({'title': 'AMD',
                      'yaxis': {'title': 'Price'},
                      'xaxis': {'title': 'Date'},
                      'shapes': [{'x0': '2016-09-01', 'x1': '2016-09-01','y0':0,'y1':0, 
                                  'xref':'x','yref':'paper',
                                  'line':{'color': 'rgb(60,60,60)','width':1}
                                 }
                                ]
                      
                     })

sma5_line = Scatter(x=df.index, y=df.Sma5,name='SMA5',line={'shape':'spline','dash':'dot'})
sma10_line = Scatter(x=df.index, y=df.Sma10,name='SMA10', line={'shape':'spline','dash':'dot'})
sma15_line = Scatter(x=df.index, y=df.Sma15,name='SMA15', line={'shape':'spline','dash':'dot'})
volume = Bar(x = df.index, y = df.Volume/50000000.0, name='Volume')
fig['data'].extend([sma5_line,sma10_line,sma15_line,volume])

#py.iplot(fig, validate=False)

NameError: name 'FF' is not defined

In [7]:
py.iplot(fig, validate=False)

In [1]:
import data

ImportError: No module named data

In [ ]:
from stlib import data

In [ ]:
from stlib import data

In [1]:
import stlib

C:\Anaconda2\lib\site-packages\pandas\io\data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [2]:
from stlib import data

In [4]:
data.gen_randoms(10,200,20)

[14,
 21,
 39,
 60,
 62,
 77,
 80,
 112,
 115,
 124,
 129,
 151,
 158,
 162,
 164,
 170,
 172,
 178,
 182,
 186]