In [60]:
### display 
import datetime
import pandas.io.data as web
import pandas as pd
import plotly.plotly as py
from plotly.graph_objs import *
from plotly.tools import FigureFactory as FF

def dl(s,d):
    end = datetime.date.today()
    days = datetime.timedelta(days=d)
    start = end - days
    df = web.DataReader(s, 'yahoo', start, end)
    return df

def cs(df):
    fig = FF.create_candlestick(df.Open, df.High, df.Low, df.Close, dates=df.index)
    py.iplot(fig, validate=False)

In [61]:
df=dl('amd',100)
df['Sma5'] = df['Close'].rolling(5).mean()
df['Sma10'] = df['Close'].rolling(10).mean()
df['Sma15'] = df['Close'].rolling(15).mean()

df

,Open,High,Low,Close,Volume,Adj Close,Sma5,Sma10,Sma15
Date,,,,,,,,,
2016-05-31,4.67,4.71,4.50,4.57,25379200,4.57,NaN,NaN,NaN
2016-06-01,4.60,4.64,4.38,4.43,29696400,4.43,NaN,NaN,NaN
2016-06-02,4.37,4.40,4.07,4.24,35335000,4.24,NaN,NaN,NaN
2016-06-03,4.16,4.20,4.08,4.16,17561800,4.16,NaN,NaN,NaN
2016-06-06,4.20,4.51,4.17,4.47,21329600,4.47,4.374,NaN,NaN
2016-06-07,4.56,4.67,4.47,4.51,20676200,4.51,4.362,NaN,NaN
2016-06-08,4.54,4.56,4.38,4.46,16074300,4.46,4.368,NaN,NaN
2016-06-09,4.41,4.54,4.32,4.52,16219100,4.52,4.424,NaN,NaN
2016-06-10,4.40,4.47,4.30,4.32,15106500,4.32,4.456,NaN,NaN
2016-06-13,4.32,4.48,4.32,4.40,13540900,4.40,4.442,4.408,NaN
2016-06-14,4.40,4.51,4.33,4.39,16757400,4.39,4.418,4.390,NaN
2016-06-15,4.44,4.48,4.30,4.42,11575300,4.42,4.410,4.389,NaN
2016-06-16,4.50,4.75,4.46,4.75,34182700,4.75,4.456,4.440,NaN
2016-06-17,4.75,5.27,4.68,5.26,64894100,5.26,4.644,4.550,NaN
2016-06-20,5.39,5.45,5.09,5.10,43541300,5.10,4.784,4.613,4.533333
2016-06-21,5.10,5.50,5.09,5.45,35864600,5.45,4.996,4.707,4.592000
2016-06-22,5.46,5.52,4.96,5.02,47943300,5.02,5.116,4.763,4.631333
2016-06-23,5.17,5.26,5.05,5.21,29159200,5.21,5.208,4.832,4.696000
2016-06-24,4.82,5.07,4.76,4.88,36735200,4.88,5.132,4.888,4.744000
2016-06-27,4.88,5.05,4.65,4.72,31025300,4.72,5.056,4.920,4.760667
2016-06-28,4.95,5.19,4.91,5.12,29221400,5.12,4.990,4.993,4.801333
2016-06-29,5.31,5.40,5.10,5.13,33118300,5.13,5.012,5.064,4.846000
2016-06-30,5.13,5.19,4.95,5.14,26124800,5.14,4.998,5.103,4.887333
2016-07-01,5.09,5.14,5.00,5.07,18255900,5.07,5.036,5.084,4.937333
2016-07-05,5.03,5.05,4.88,4.96,16332500,4.96,5.084,5.070,4.974667
2016-07-06,4.91,5.11,4.90,5.04,19392900,5.04,5.068,5.029,5.018000
2016-07-07,5.07,5.10,4.94,5.02,15813800,5.02,5.046,5.029,5.058000
2016-07-08,4.84,5.15,4.82,5.10,28140700,5.10,5.038,5.018,5.081333
2016-07-11,5.13,5.19,5.00,5.01,21027900,5.01,5.026,5.031,5.064667
2016-07-12,5.01,5.17,5.01,5.14,20832500,5.14,5.062,5.073,5.067333
...,...,...,...,...,...,...,...,...,...
2016-07-26,6.76,7.16,6.71,6.98,81230600,6.98,6.030,5.647,5.452000
2016-07-27,6.93,6.98,6.68,6.85,38567300,6.85,6.318,5.823,5.572667
2016-07-28,6.79,6.98,6.74,6.82,27515600,6.82,6.638,5.988,5.692667
2016-07-29,6.88,6.96,6.75,6.86,22580500,6.86,6.842,6.160,5.810000
2016-08-01,6.89,6.92,6.57,6.64,26729000,6.64,6.830,6.273,5.918667
2016-08-02,6.56,6.60,6.15,6.26,40816400,6.26,6.686,6.358,5.993333
2016-08-03,6.18,6.45,6.15,6.30,23807800,6.30,6.576,6.447,6.074000
2016-08-04,6.39,6.61,6.37,6.47,22411000,6.47,6.506,6.572,6.160667
2016-08-05,6.56,6.76,6.47,6.61,20164000,6.61,6.456,6.649,6.258667
2016-08-08,6.70,6.85,6.65,6.68,21462200,6.68,6.464,6.647,6.336667
2016-08-09,6.75,6.78,6.54,6.60,16746500,6.60,6.532,6.609,6.416000
2016-08-10,6.35,6.58,6.25,6.49,29035700,6.49,6.570,6.573,6.488000
2016-08-11,6.50,6.59,6.46,6.58,13099000,6.58,6.592,6.549,6.578667
2016-08-12,6.60,6.79,6.55,6.73,25442600,6.73,6.616,6.536,6.638000
2016-08-15,6.79,6.97,6.78,6.95,28311900,6.95,6.670,6.567,6.654667
2016-08-16,6.94,6.94,6.65,6.78,26721100,6.78,6.706,6.619,6.641333
2016-08-17,6.70,6.75,6.61,6.68,13757600,6.68,6.744,6.657,6.630000
2016-08-18,6.74,7.07,6.73,7.04,30635600,7.04,6.836,6.714,6.644667
2016-08-19,7.24,8.00,7.22,7.62,74931600,7.62,7.014,6.815,6.695333
2016-08-22,7.83,7.95,7.37,7.58,41442800,7.58,7.140,6.905,6.758000
2016-08-23,7.66,7.74,7.53,7.67,27514200,7.67,7.318,7.012,6.852000
2016-08-24,7.67,7.67,7.37,7.43,22855600,7.43,7.468,7.106,6.927333
2016-08-25,7.49,7.49,7.20,7.47,16393600,7.47,7.554,7.195,6.994000
2016-08-26,7.49,7.80,7.46,7.67,31321700,7.67,7.564,7.289,7.064667
2016-08-29,7.72,7.79,7.57,7.59,16891800,7.59,7.566,7.353,7.125333
2016-08-30,7.61,7.64,7.41,7.49,16022500,7.49,7.530,7.424,7.184667
2016-08-31,7.52,7.52,7.28,7.40,18279500,7.40,7.524,7.496,7.245333
2016-09-01,7.18,7.44,7.09,7.35,22266700,7.35,7.500,7.527,7.296667
2016-09-02,7.49,7.64,7.38,7.51,18530400,7.51,7.468,7.516,7.348667
2016-09-06,7.56,7.60,7.25,7.34,24048700,7.34,7.418,7.492,7.374667

In [72]:

fig = FF.create_candlestick(df.Open, df.High, df.Low, df.Close, dates=df.index)
fig
fig['layout'].update({'title': 'AMD',
                      'yaxis': {'title': 'Price'},
                      'xaxis': {'title': 'Date'},
                      'shapes': [{'x0': '2016-09-01', 'x1': '2016-09-01','y0':0,'y1':1, 
                                  'xref':'x','yref':'paper',
                                  'line':{'color': 'rgb(60,60,60)','width':1}
                                 }
                                ]
                      
                     })

sma5_line = Scatter(x=df.index, y=df.Sma5,name='SMA5',line={'shape':'spline'})
sma10_line = Scatter(x=df.index, y=df.Sma10,name='SMA10', line={'shape':'spline'})
sma15_line = Scatter(x=df.index, y=df.Sma15,name='SMA15', line={'shape':'spline'})
fig['data'].extend([sma5_line,sma10_line,sma15_line])

#py.iplot(fig, validate=False)

In [73]:
py.iplot(fig, validate=False)

In [79]:
data = Bar(x = df.index, y = df.Volume)
py.iplot(data)

PlotlyError: Invalid 'figure_or_data' argument. Plotly will not be able to properly parse the resulting JSON. If you want to send this 'figure_or_data' to Plotly anyway (not recommended), you can set 'validate=False' as a plot option.
Here's why you're seeing this error:

'y' is not allowed in 'figure'

Path To Error: ['y']

Valid attributes for 'figure' at path [] under parents []:

    ['layout', 'data']

Run `<figure-object>.help('attribute')` on any of the above.
'<figure-object>' is the object at []