In [4]:
### display 
import datetime
import pandas.io.data as web
import pandas as pd
import plotly.plotly as py
from plotly.graph_objs import *
from plotly.tools import FigureFactory as FF

# download stock data, s: stock ticker, d: days
def dl(s,d):
    end = datetime.date.today()
    days = datetime.timedelta(days=d)
    start = end - days
    df = web.DataReader(s, 'yahoo', start, end)
    return df

# 
def cs(df):
    fig = FF.create_candlestick(df.Open, df.High, df.Low, df.Close, dates=df.index)
    py.iplot(fig, validate=False)
    
    
    # given a strategy what buys the sharte at position index, what is the maximumn profit that can be achieved?
def calculateProfit (A, index):
    buying_price = A[index]
    max_profit = 0
    sell_at = index
    for i in range(index+1, len(A)):
        selling_price = A[i]
        profit = selling_price - buying_price
        if profit > max_profit:
            max_profit = profit
            sell_at = i
    return max_profit, sell_at

# check all possible buying times
def fmax_brute_force(A):
    max_profit = None
    buy = None
    sell = None
    l = 0
    for index, item in enumerate(A):
        profit, sell_at = calculateProfit(A, index)
        if (max_profit is None) or (profit > max_profit):
            max_profit = profit
            buy = index
            sell = sell_at
    return max_profit, buy, sell

C:\Anaconda2\lib\site-packages\pandas\io\data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [11]:
df.index

DatetimeIndex(['2016-06-30', '2016-07-01', '2016-07-05', '2016-07-06',
               '2016-07-07', '2016-07-08', '2016-07-11', '2016-07-12',
               '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-18',
               '2016-07-19', '2016-07-20', '2016-07-21', '2016-07-22',
               '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28',
               '2016-07-29', '2016-08-01', '2016-08-02', '2016-08-03',
               '2016-08-04', '2016-08-05', '2016-08-08', '2016-08-09',
               '2016-08-10', '2016-08-11', '2016-08-12', '2016-08-15',
               '2016-08-16', '2016-08-17', '2016-08-18', '2016-08-19',
               '2016-08-22', '2016-08-23', '2016-08-24', '2016-08-25',
               '2016-08-26', '2016-08-29', '2016-08-30', '2016-08-31',
               '2016-09-01', '2016-09-02', '2016-09-06', '2016-09-07',
               '2016-09-08', '2016-09-09', '2016-09-12', '2016-09-13',
               '2016-09-14', '2016-09-15', '2016-09-16', '2016-09-19',
               '2016-09-20', '2016-09-21', '2016-09-22', '2016-09-23',
               '2016-09-26', '2016-09-27', '2016-09-28', '2016-09-29',
               '2016-09-30', '2016-10-03', '2016-10-04', '2016-10-05',
               '2016-10-06', '2016-10-07'],
              dtype='datetime64[ns]', name=u'Date', freq=None)

In [5]:
df=dl('amd',100)  # download 100 days data 

# add 5, 10, 15 SMA
df['Sma5'] = df['Close'].rolling(5).mean() 
df['Sma10'] = df['Close'].rolling(10).mean()
df['Sma15'] = df['Close'].rolling(15).mean()

df

,Open,High,Low,Close,Volume,Adj Close,Sma5,Sma10,Sma15
Date,,,,,,,,,
2016-08-05,6.56,6.76,6.47,6.61,20164000,6.61,NaN,NaN,NaN
2016-08-08,6.70,6.85,6.65,6.68,21462200,6.68,NaN,NaN,NaN
2016-08-09,6.75,6.78,6.54,6.60,16772400,6.60,NaN,NaN,NaN
2016-08-10,6.35,6.58,6.25,6.49,29070700,6.49,NaN,NaN,NaN
2016-08-11,6.50,6.59,6.46,6.58,13240300,6.58,6.592,NaN,NaN
2016-08-12,6.60,6.79,6.55,6.73,25466400,6.73,6.616,NaN,NaN
2016-08-15,6.79,6.97,6.78,6.95,28339400,6.95,6.670,NaN,NaN
2016-08-16,6.94,6.94,6.65,6.78,26768800,6.78,6.706,NaN,NaN
2016-08-17,6.70,6.75,6.61,6.68,13791300,6.68,6.744,NaN,NaN
2016-08-18,6.74,7.07,6.73,7.04,30783300,7.04,6.836,6.714,NaN
2016-08-19,7.24,8.00,7.22,7.62,75129300,7.62,7.014,6.815,NaN
2016-08-22,7.83,7.95,7.37,7.58,41519200,7.58,7.140,6.905,NaN
2016-08-23,7.66,7.74,7.53,7.67,27531100,7.67,7.318,7.012,NaN
2016-08-24,7.67,7.67,7.37,7.43,22943900,7.43,7.468,7.106,NaN
2016-08-25,7.49,7.49,7.20,7.47,16451300,7.47,7.554,7.195,6.994000
2016-08-26,7.49,7.80,7.46,7.67,31387900,7.67,7.564,7.289,7.064667
2016-08-29,7.72,7.79,7.57,7.59,16916300,7.59,7.566,7.353,7.125333
2016-08-30,7.61,7.64,7.41,7.49,16088100,7.49,7.530,7.424,7.184667
2016-08-31,7.52,7.52,7.28,7.40,18808800,7.40,7.524,7.496,7.245333
2016-09-01,7.18,7.44,7.09,7.35,22284600,7.35,7.500,7.527,7.296667
2016-09-02,7.49,7.64,7.38,7.51,18538400,7.51,7.468,7.516,7.348667
2016-09-06,7.56,7.60,7.25,7.34,24994600,7.34,7.418,7.492,7.374667
2016-09-07,7.05,7.07,6.78,6.84,57721900,6.84,7.288,7.409,7.378667
2016-09-08,6.64,6.65,6.15,6.23,90814700,6.23,7.054,7.289,7.348667
2016-09-09,6.23,6.24,5.85,5.90,170828000,5.90,6.764,7.132,7.272667
2016-09-12,5.83,6.07,5.77,5.94,78014400,5.94,6.450,6.959,7.160667
2016-09-13,5.92,5.95,5.66,5.74,50819500,5.74,6.130,6.774,7.038000
2016-09-14,5.75,6.08,5.75,6.04,64251100,6.04,5.970,6.629,6.929333
2016-09-15,6.09,6.20,5.95,6.02,52669500,6.02,5.928,6.491,6.835333
2016-09-16,6.22,6.22,5.97,6.05,47829400,6.05,5.958,6.361,6.740667
...,...,...,...,...,...,...,...,...,...
2016-10-03,6.95,7.15,6.87,6.95,30456700,6.95,6.732,6.536,6.358000
2016-10-04,7.00,7.09,6.89,6.97,25770000,6.97,6.818,6.616,6.440000
2016-10-05,6.97,7.01,6.70,6.78,31235600,6.78,6.856,6.665,6.489333
2016-10-06,6.72,6.98,6.63,6.96,27059700,6.96,6.914,6.724,6.552000
2016-10-07,6.92,6.96,6.62,6.75,33059000,6.75,6.882,6.744,6.598667
2016-10-10,6.82,6.94,6.80,6.84,13800500,6.84,6.860,6.796,6.644000
2016-10-11,6.80,6.84,6.38,6.50,32510800,6.50,6.766,6.792,6.666000
2016-10-12,6.64,6.77,6.42,6.62,33592700,6.62,6.734,6.795,6.688000
2016-10-13,6.50,6.54,6.24,6.49,30401700,6.49,6.640,6.777,6.696000
2016-10-14,6.92,7.12,6.74,6.75,66934400,6.75,6.640,6.761,6.709333
2016-10-17,6.92,6.97,6.64,6.67,24261500,6.67,6.606,6.733,6.732667
2016-10-18,6.76,6.89,6.69,6.73,25314800,6.73,6.652,6.709,6.745333
2016-10-19,6.70,6.80,6.57,6.77,29420200,6.77,6.682,6.708,6.757333
2016-10-20,6.81,6.98,6.77,6.96,64607500,6.96,6.776,6.708,6.776667
2016-10-21,6.50,6.65,6.37,6.52,64243500,6.52,6.730,6.685,6.750667
2016-10-24,6.57,7.01,6.54,7.01,52998400,7.01,6.798,6.702,6.754667
2016-10-25,6.90,7.50,6.87,7.50,78862000,7.50,6.952,6.802,6.790000
2016-10-26,7.40,7.48,7.26,7.29,47573700,7.29,7.056,6.869,6.824000
2016-10-27,7.44,7.46,7.10,7.11,37644400,7.11,7.086,6.931,6.834000
2016-10-28,7.10,7.53,7.02,7.20,77192900,7.20,7.222,6.976,6.864000
2016-10-31,7.24,7.46,7.20,7.23,42275900,7.23,7.266,7.032,6.890000
2016-11-01,7.32,7.43,6.92,7.09,39859700,7.09,7.184,7.068,6.929333
2016-11-02,7.03,7.06,6.67,6.76,33745800,6.76,7.078,7.067,6.938667
2016-11-03,6.78,6.79,6.56,6.70,33633200,6.70,6.996,7.041,6.952667
2016-11-04,6.69,6.72,6.46,6.56,32159000,6.56,6.868,7.045,6.940000
2016-11-07,6.79,6.99,6.76,6.96,36861900,6.96,6.814,7.040,6.959333
2016-11-08,6.85,7.18,6.75,7.00,37601100,7.00,6.796,6.990,6.977333
2016-11-09,6.70,7.05,6.64,6.94,38426300,6.94,6.832,6.955,6.988667
2016-11-10,6.82,6.91,6.22,6.30,71673500,6.30,6.752,6.874,6.944667
2016-11-11,6.64,6.69,6.47,6.69,39459100,6.69,6.778,6.823,6.956000

TypeError: 'numpy.float64' object is not iterable

In [6]:

fig = FF.create_candlestick(df.Open, df.High, df.Low, df.Close, dates=df.index)
fig
fig['layout'].update({'title': 'AMD',
                      'yaxis': {'title': 'Price'},
                      'xaxis': {'title': 'Date'},
                      'shapes': [{'x0': '2016-09-01', 'x1': '2016-09-01','y0':0,'y1':1, 
                                  'xref':'x','yref':'paper',
                                  'line':{'color': 'rgb(60,60,60)','width':1}
                                 }
                                ]
                      
                     })

sma5_line = Scatter(x=df.index, y=df.Sma5,name='SMA5',line={'shape':'spline','dash':'dot'})
sma10_line = Scatter(x=df.index, y=df.Sma10,name='SMA10', line={'shape':'spline','dash':'dot'})
sma15_line = Scatter(x=df.index, y=df.Sma15,name='SMA15', line={'shape':'spline','dash':'dot'})
volume = Bar(x = df.index, y = df.Volume/50000000.0, name='Volume')
fig['data'].extend([sma5_line,sma10_line,sma15_line,volume])

#py.iplot(fig, validate=False)

In [7]:
py.iplot(fig, validate=False)

In [1]:
import data

ImportError: No module named data

In [ ]:
from stlib import data

In [ ]:
from stlib import data

In [1]:
import stlib

C:\Anaconda2\lib\site-packages\pandas\io\data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [2]:
from stlib import data

In [4]:
data.gen_randoms(10,200,20)

[14,
 21,
 39,
 60,
 62,
 77,
 80,
 112,
 115,
 124,
 129,
 151,
 158,
 162,
 164,
 170,
 172,
 178,
 182,
 186]